* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'McLaren', cursive;
    background-color: #d7d7ff;
    line-height: 1.6;
    letter-spacing: 1px;
}

/* TYPOGRAPHY */

h1,
h2 {
    color: #006666;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.3rem;
}

/* MAIN SECTION */

.container {
    background-color: #e6e6ff;
    width: 90%;
    max-width: 900px;
    text-align: center;
    padding: 3em;
    margin: 5em auto;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.3);  
}

.fact-area {
    padding: 1em;
    height: 200px;
    font-size: 1.2rem;
    color: #404040;
}

/* BUTTON */

.btn {
    outline: none;
    margin: 1em auto;
    cursor: pointer;
    transition: transform 250ms;
    transform: scale(1);

}

.btn:hover,
.btn:focus {
    transform: scale(1.2); 
}


/* MEDIA QUERY */

@media (max-width: 600px) {
    body {
        letter-spacing: 0;
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1rem;
    }
    .fact-area {
        font-size: 0.8rem;
        height: 150px;
        padding: 0.5em;
        height: 250px;
    }
    .container {
        margin: 1em auto;
        padding: 0.5em;
    }
}